# python compiled, optimized and DLL files
__pycache__/
*.py[cod]
*$py.class

# application ignores
env/*
src/_reports/*
src/sol/data_staking_rewards/*.csv
sample.env
.env

# pycharm
.idea/*

.DS_Store
.vim
