# python compiled, optimized and DLL files
__pycache__/
*.py[cod]
*$py.class

# application ignores
env/*
src/staketaxcsv/_reports/*
src/staketaxcsv/sol/data_staking_rewards/*.csv
sample.env

# pycharm
.idea/*

koinly_null_map.json
.DS_Store

# setup.py related
build/*
dist/*
staketaxcsv.egg-info/*
webapp/__pycache__/*
.env
