# python compiled, optimized and DLL files
__pycache__/
*.py[cod]
*$py.class

# application ignores
env/*
src/staketaxcsv/_reports/*
src/staketaxcsv/dym/genesis.json
src/staketaxcsv/tia/genesis.json
src/staketaxcsv/saga/genesis.json
sample.env
src/tests/data/lcdv1/_node_info/*


# pycharm
.idea/*

koinly_null_map.json
.DS_Store

# setup.py related
build/*
dist/*
staketaxcsv.egg-info/*

.env
