
### RPC NODES #################################################################################################
# Defaults point to public RPC nodes.  Private RPC nodes better (examples for Quicknode, Figment provided).

ATOM_NODE=""
#ATOM_NODE=https://cosmoshub-4--rpc--full.datahub.figment.io:443/apikey/<COSMOS_FIGMENT_KEY>

SOL_NODE=https://api.mainnet-beta.solana.com
#SOL_NODE=https://morning-weathered-cherry.solana-mainnet.quiknode.pro/<SOL_QUICKNODE_KEY>/

TERRA_LCD_NODE=https://lcd.terra.dev  # this public LCD node may have rate-limited issues beyond small tests
#TERRA_LCD_NODE=https://columbus-5--lcd--full.datahub.figment.io/apikey/<TERRA_FIGMENT_KEY>

### OPTIONAL #################################################################################################
TERRA_FIGMENT_KEY=""

### OTHER #################################################################################################
STAGE=local
